body * {
  margin: 0;
  padding: 0;
  /*font-family: "Comic Sans MS";*/

  font-family: 'Roboto', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Merriweather', serif;*/
  /*font-family: 'Exo 2', sans-serif;*/
  /*font-family: 'Caveat', cursive;*/
  /*font-family: 'Neucha', cursive;*/
}

@media (min-width: 900px) {
  .limiter {
    min-width: 900px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

@media (max-width: 899px) {
  .limiter {
    min-width: 300px;
    width: 100%;
    padding: 0 !important;
  }

  .input-container {
    margin: 0px auto 0px auto;
    width: 100% !important;
  }

  input[type="text"] {
    padding: 10px 15px !important;
  }

  .nav {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
  }
}

a { color: gray; }

input[type="text"] {
  padding: 10px 36px;
  width: 100%;
  font-size: 18px;
  border: none;
}

.nav {
  margin-bottom: 40px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.shop-closed {
  background-color: #fa4251;
  color: white;
}

.shop-opened {
  background-color: #249013;
  color: white;
}

.shop-item-name {
  background-color: #3D8880;
  color: white;
}

.item_db-ids {
  font-size: 10px;
  margin-left: 5px;
  color: #9f9f9f;
  position: absolute;
  display: inline-block;
  /*top: -10px;*/
}

.container-shadow.text .table-report {
  /*margin-top:10px;*/
  margin: 10px -10px 0px -10px 0px;
}