.area-woe-details .rate tbody .table-report-cell {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 900px) {
    .area-woe-details .table-report-cell.data.playerName {
        white-space: normal;
    }
}

.area-woe-details .table-report-cell.data.playerName .rate {
    position: relative;
    display: inline-block;
    top: -7px;
    font-size: 10px;
    left: 5px;
}

.area-woe-details .table-report-cell.data.playerName .rate > .perk {
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    position: absolute;
    color: #cccccc;
}

.area-woe-details .table-report-cell.data.playerName .rate > .value {
    position: relative;
    left: 4px;
    top: -2px;
}

.area-woe-details .table-report-cell.data.guildIcon {
    width: 24px;
}

.area-woe-details .table-report-cell.data.guildIcon {
    padding-right: 5px;
}

.area-woe-details .table-report-cell.value {
    width: 90px;
}

.area-woe-details .table-report-cell.avg {
    width: 70px;
}

.area-woe-details .table-report-cell.data.avg {
    padding-right: 50px;
}

.area-woe-details .table-report-cell.rate {
    width: 45px;
}

.area-woe-details .table-report-cell.data.rate {
    padding-right: 70px;
}

.area-woe-details .table-report-cell.data.rate .is-main {
    /*color: goldenrod;*/
    /*color: #6B6B6B;*/
    /*color: gray;*/
    font-weight: bold;
}

.area-woe-details .table-report-cell.data.rate .is-aux {
    color: silver;
    /*color: silver;*/
}

.area-woe-details .table-report-cell.data.rate .is-extra {
    color: silver;
    /*display: none;*/
}

.area-woe-details .rate .header.title i {
    font-size: 18px;
    margin-left: 10px;
    color: #cccccc;
}

.area-woe-details .castle-o .date {
    width: 65px;
}

@media (max-width: 899px) {
    .area-woe-details .common .table-report-cell {
        display: table-cell;
    }

    .area-woe-details .rate .table-report-cell {
        display: table-cell;
    }

    .area-woe-details .rate .table-report-cell.value {
        text-align: right !important;
        padding-right: 15px !important;
    }

    .area-woe-details .rate .table-report-cell.position_index,
    .area-woe-details .rate .table-report-cell.guildIcon,
    .area-woe-details .rate .table-report-cell.avg,
    .area-woe-details .rate .table-report-cell.rate
    {
        display: none !important;
    }
}