.area-woe-details .value {
    width: 110px;
}

.area-woe-details .delta-field {
    width: 130px;
}

.area-woe-details .delta-field.woe {
    width: 100px;
}

.area-woe-details .delta-field .value {
    display: inline;
}

.area-woe-details .delta-field .delta {
    position: relative;
    font-size: 9px;
    display: inline;
    top: -10px;
    /*font-weight: bold;*/
}

.area-woe-details .delta-field .delta .up {
    color: #3da75a;
}

.area-woe-details .delta-field .delta .down {
    color: #ff7160;
}

.area-woe-details .delta-field {
    width: 110px;
}

