.area-woe-guild .players .table-report-cell.name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    padding-left: 5px;
}

.area-woe-guild .players .table-report-cell.name .rate {
    position: relative;
    display: inline-block;
    top: -5px;
    font-size: 11px;
    left: 5px;
}

.area-woe-guild .players .table-report-cell.name .perks {
    margin-top: 5px;
    font-size: 11px;
}

.area-woe-guild .players .table-report-cell.name .perks i {
    width: 20px;
    text-align: center;
}

@media (max-width: 899px) {
    .area-woe-guild .table-report-cell {
        display: table-cell;
    }

    .area-woe-guild .common .table-report-cell.max,
    .area-woe-guild .common .table-report-cell.sum,
    .area-woe-guild .players .table-report-cell.index,
    .area-woe-guild .players .table-report-cell.kills,
    .area-woe-guild .players .table-report-cell.death,
    .area-woe-guild .players .table-report-cell.buffs,
    .area-woe-guild .players .table-report-cell.debuffs,
    .area-woe-guild .woes .table-report-cell.index,
    .area-woe-guild .woes .table-report-cell.kills,
    .area-woe-guild .woes .table-report-cell.death,
    .area-woe-guild .woes .table-report-cell.buffs,
    .area-woe-guild .woes .table-report-cell.debuffs,
    .area-woe-guild .woes .table-report-cell.wings
    {
        display: none !important;
    }
}