.area-woe-guilds .table-report-cell.name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    padding-left: 5px;
}

.area-woe-guilds .table-report-cell.guild-icon {
    padding-right: 5px;
}

@media (max-width: 899px) {
    .area-woe-guilds .table-report-cell {
        display: table-cell;
    }

    .area-woe-guilds .table-report-cell.kills,
    .area-woe-guilds .table-report-cell.death,
    .area-woe-guilds .table-report-cell.woes
    {
        display: none;
    }
}