.area-woe-players .table-report-cell.guild {
    width: 24px;
    padding-right: 5px;
}

.area-woe-players .table-report-cell.name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
}

.area-woe-players .table-report-cell.kills,
.area-woe-players .table-report-cell.death,
.area-woe-players .table-report-cell.buffs,
.area-woe-players .table-report-cell.debuffs
{
    padding-left: 5px;
    padding-right: 5px;
}

.area-woe-players .table-report-cell.gamesPlayed {
    padding-left: 5px;
}

