.area-woe-players .table-report-cell.guild {
    width: 24px;
    padding-right: 0px;
    padding-left: 0px;
}

.area-woe-players .table-report-cell.index {
    white-space: nowrap;
    min-width: 30px;
}

.area-woe-players .table-report-cell.playerRateIndexDelta {
    min-width: 30px;
    padding-left: 5px;
    /*padding-right: 0px;*/
}

.area-woe-players .table-report-cell.playerRateIndexDelta .up {
    color: #3da75a;
}

.area-woe-players .table-report-cell.playerRateIndexDelta .down {
    color: #ff7160;
}

.area-woe-players .table-report-cell.name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    /*padding-right: 0px;*/
}

.area-woe-players .table-report-cell.kills,
.area-woe-players .table-report-cell.death,
.area-woe-players .table-report-cell.buffs,
.area-woe-players .table-report-cell.debuffs
{
    padding-left: 5px;
    padding-right: 5px;
}

.area-woe-players .table-report-cell.rate {
    padding-left: 5px;
}

.area-woe-players .table-report-cell.data.rate {
    font-weight: bold;
    font-size: 18px;
    padding-right: 70px;
}

.area-woe-players .table-report-cell.name .perks {
    margin-top: 5px;
    font-size: 11px;
}

.area-woe-players .table-report-cell.name .perks i {
    width: 20px;
    text-align: center;
}

@media (max-width: 899px) {
    .area-woe-players .table-report-cell {
        display: table-cell;
    }

    .area-woe-players .table-report-cell.index,
    .area-woe-players .table-report-cell.playerRateIndexDelta,
    .area-woe-players .table-report-cell.woes,
    .area-woe-players .table-report-cell.kills,
    .area-woe-players .table-report-cell.buffs,
    .area-woe-players .table-report-cell.debuffs
    {
        display: none !important;
    }
}