.area-deals .deals .name {
    white-space: nowrap;
    max-width: 240px;
}

.area-deals .deals .date {
    white-space: nowrap;
}

.area-deals .deals .count {
    width: 80px;
    padding-right: 0px;
}

.area-deals .deals .price {
    width: 110px;
}

.area-deals .deals .name .icon {
    position: absolute;
    margin-top: -3px;
    margin-left: 5px;
}

.area-deals .deals .name .icon + * {
    padding-left: 35px;
}