.area-allitems .table-report-cell.price {
    /*width: 230px;*/
    white-space: nowrap;
}

.area-allitems .table-report-cell.name {
    /*max-width: 250px;*/
    white-space: nowrap;
    /*overflow: hidden;*/
}

.area-allitems .name .icon {
    position: absolute;
    margin-top: -3px;
    margin-left: 5px;
}

.area-allitems .name .icon + * {
    padding-left: 35px;
}