.nav-top {
    text-align: center;
    padding-bottom: 50px;
}

.nav-item {
    width: 164px;
    display: inline-block;
}

.nav-item > * {
    text-align: center;
}

.nav-title {
    font-size: 13px;
}

.nav-title a {
    text-decoration: none;
}

.active .nav-item > div {
    color: #3f51b5;
    font-size: 15px;
}

.active .nav-item > .nav-icon > svg {
    width: 32px;
    height: 32px;
}